@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  body {
    background-color: #000000;
    background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.60),
        rgba(0, 0, 0, 0.70)
      ),
      url("/background-texture.png");

    background-size: cover;
    background-position: center;
    background-attachment: scroll;

    color: white;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
